<%= form_with(model: hiring_process) do |form| %>
  <% if hiring_process.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hiring_process.errors.count, "error") %> prohibited this hiring_process from being saved:</h2>

      <ul>
        <% hiring_process.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :company, style: "display: block" %>
    <%= form.text_field :company %>
  </div>

  <div>
    <%= form.label :position, style: "display: block" %>
    <%= form.text_field :position %>
  </div>

  <div>
    <%= form.label :recruiter, style: "display: block" %>
    <%= form.text_field :recruiter %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.textarea :status %>
  </div>

  <div>
    <%= form.label :reached_me, style: "display: block" %>
    <%= form.checkbox :reached_me %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
