<div id="<%= dom_id hiring_process %>">
  <p>
    <strong>Company:</strong>
    <%= hiring_process.company %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= hiring_process.position %>
  </p>

  <p>
    <strong>Recruiter:</strong>
    <%= hiring_process.recruiter %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= hiring_process.status %>
  </p>

  <p>
    <strong>Reached me:</strong>
    <%= hiring_process.reached_me %>
  </p>

</div>
